*{
margin: 0;
padding: 0;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img2.jpg);
	height: 800px;
	background-size: cover;
	background-position: cover;	
	width:100%;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 30px;
	
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration:none;
	color: white;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.9s ease;
	font-size: 20px;

}
ul li a:hover{
	background-color: #fff;
	color: #000;
	font-size: 30px;
}
ul li.active a{
	background-color: #fff;
	color: #000;	
}
#nav ul{
	float: left;
	list-style-type: none;
	margin-left: 30px;
	
}

#nav ul li{
	display: block;
}

#nav ul li{
	list-style-type: none;
	padding-top:15px;
}
#nav li a{
		text-decoration: none;
		color:white;
		font-size: 20px;
		font-family: "Times New Roman";
}
#nav ul li a:hover{
	text-decoration: none;
		color:black;
		font-size: 30px;
}
	
.main{
	max-width: 1200px;
	margin: auto;
}
form{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,.4);
	padding: 50px;
}
form label{
	display: block;
	color: white;
	font-size:20px;
}
form input{
	font-size: 18px;
	padding: 7px;
	width: 100%;
	border: 1px solid #fff000;
	color: #fff;
	display: block;
	background: transparent;
}
form input[type="submit"]{
	width: 120px;
	cursor: pointer;
}

form h1{
	color: #fff;
	font-size: 30px;
}
form h2{
	color: #fff;
	font-size: 20px;
}

form p{
	color: #fff;
	font-size: 25px;
}

#footer {
	background: rgba(0,0,0,.7);
	color: white;

}